name: Python Unittest

on: [push]

jobs:
  unittests:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
      - name: Setup Python # Set Python version
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      # Install pip and pytest
      - name: Install dependencies
        run: | 
          python -m pip install --upgrade pip
          pip install numpy torch pandas torch_geometric torchmetrics networkx tqdm scikit-learn requests
      - name: Install graphbench package
        run: |
          python -m pip install --upgrade pip
          pip install -e . 
      - name: Test with unittest
        run: |
          python -m unittest graphbench/tests/test_graphbench.py -v
      
